<div class="container app-forgot-password">
  <span openDialog></span>
  <img [src]="getImagenes().urlBase + getImagenes().carpetaImagenes + getImagenes().logo_color" class="logo-sedapal">
  <h1>¿Olvidaste tu contraseña?</h1>
  <p>
    Ingresa tu correo electrónico para reestablecer tu contraseña
  </p>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-row">
      <div class="col">
        <mat-form-field>
          <input
            formControlName="correo"
            matInput
            placeholder="Correo electrónico"
            type="email"
            autocomplete="off"
          />
          <mat-error *ngIf="form.controls['correo'].errors?.email">
            Ingrese un correo válido
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row mt-5">
      <div class="col text-center">
        <button
          [disabled]="loading"
          color="primary"
          mat-flat-button
          type="submit"
        >
          ENVIAR
        </button>
        <br/>
        <div *ngIf="loading; then: imgLoading"></div>
      </div>
    </div>
    <div *ngIf="error" class="form-row mt-3">
      <div class="col text-center">
        <div class="alert alert-danger">{{ error }}</div>
      </div>
    </div>
  </form>
  <p class="black-87 font-size-12">
    <a [routerLink]="['/iniciar-sesion']">Volver</a>
  </p>
</div>

<ng-template #imgLoading>
  <img
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
  />
</ng-template>
