@media (min-width: 576px) {
  .app-forgot-password {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .app-forgot-password {
    width: 60%;
    p {
      width: 55%;
    }
  }
}

.logo-sedapal {
  height: 50px;
  margin-bottom: 30px;
}
@media (min-width: 770px) {
  .logo-sedapal {
    display: none;
  }
}
