<div class="container app-update-password">
  <span openDialog></span>
  <img [src]="getImagenes().urlBase + getImagenes().carpetaImagenes + getImagenes().logo_color" class="logo-sedapal">
  <h1>Recordatorio de contraseña</h1>
  <p>
    Usted solicitó actualizar la contraseña de su correo electrónico
  </p>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="form-row">
      <div class="col">
        <mat-form-field>
          <input
            #contrasena
            formControlName="contrasena"
            matInput
            maxlength="18"
            placeholder="Contraseña"
            type="password"
            autocomplete="off"
          />
          <app-toggle-password
            [input]="contrasena"
            matSuffix
          ></app-toggle-password>
          <mat-hint>
            Debe ser mayor a 8 digitos, tener mayúscula, minúscula y número
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col">
        <mat-form-field>
          <input
            #contrasena2
            formControlName="contrasena2"
            matInput
            maxlength="18"
            placeholder="Repetir contraseña"
            type="password"
            autocomplete="off"
          />
          <app-toggle-password
            [input]="contrasena2"
            matSuffix
          ></app-toggle-password>
          <mat-hint>
            Debe ser mayor a 8 digitos, tener mayúscula, minúscula y número
          </mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="form-row mt-5">
      <div class="col text-center">
        <button
          [disabled]="loading"
          color="primary"
          mat-flat-button
          type="submit"
        >
          ACTUALIZAR
        </button>
        <br/>
        <div *ngIf="loading; then: imgLoading"></div>
      </div>
    </div>
    <div *ngIf="error" class="form-row mt-3">
      <div class="col text-center">
        <div class="alert alert-danger">{{ error }}</div>
      </div>
    </div>
  </form>
  <p class="black-87 font-size-12">
    <a [routerLink]="['/iniciar-sesion']">Cancelar</a>
  </p>
</div>

<ng-template #imgLoading>
  <img
    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
  />
</ng-template>
