<h2 mat-dialog-title>Términos y condiciones del servicio AQUANET</h2>
<mat-dialog-content>
  <h3 class="mt-0">CONDICIONES PARA ACCEDER AL SERVICIO</h3>
  <p>
    a) Registrarse como usuario del servicio y recibir la clave correspondiente
    enviada en forma electrónica por SEDAPAL de un suministro en el cual se
    tiene legítimo interés.
  </p>
  <p>
    b) Disponer del equipo necesario para establecer una conexión a Internet.
  </p>
  <p>c) Disponer de su propia cuenta de acceso a Internet.</p>
  <h3>USO Y LIMITACIONES DEL SERVICIO</h3>
  <h3>I.- POLÍTICA DE PRIVACIDAD</h3>
  <p>
    1.- Cuando se registra en el servicio se recibe un número de USUARIO que es
    el mismo del número de suministro de agua potable y/o alcantarillado,
    recibirá además una Clave.
  </p>
  <p>
    2.- Ud. es el único responsable si no mantiene la confidencialidad de su
    cuenta y contraseña.
  </p>
  <p>
    3.- Ud. Es el único responsable de cualquier o todas las actividades que
    ocurran en su cuenta.
  </p>
  <p>
    4.- Puede cambiar su contraseña cuando lo desee, siguiendo las instrucciones
    en la página del servicio.
  </p>
  <p>
    5.- El USUARIO notificará inmediatamente a SEDAPAL de cualquier uso no
    autorizado de su cuenta, o cualquier intrusión de seguridad conocida por el
    USUARIO al correo sedanet@sedapal.com.pe
  </p>

  <h3>II.- RESPONSABILIDADES DEL SERVICIO</h3>
  <p>
    1.- SEDAPAL podrá modificar, suspender o terminar el servicio en cualquier
    momento y sin previoaviso al usuario.
  </p>
  <p>
    2.– SEDAPAL no se responsabiliza por la interrupción del servicio, sea
    ocasionado por problemas técnicos internos o por parte de terceros, o por
    cualquier causa que pudiese afectar al SERVICIO.
  </p>
  <p>
    3.- SEDAPAL declina cualquier responsabilidad sobre errores que se cometan
    en el SERVICIO, ya sea de recepción, envío, parte o general, siempre que
    esto dependa terceros.
  </p>

  <h3>III.- PROHIBICIÓN DE VENTA O USO COMERCIAL DEL SERVICIO</h3>
  <p>
    1.- EL USUARIO tiene derecho a usar el SERVICIO estrictamente para los fines
    de información de su suministro.
  </p>
  <p>
    2.- EL USUARIO acepta no revender ni hacer ningún uso comercial de la
    información que SEDAPAL brinda.
  </p>

  <h3>IV.- OTRAS LIMITACIONES</h3>
  <p>
    1.- La Información que SEDAPAL brinda a través de este servicio no puede ser
    divulgada fuera de los que tengan legítimo interés de la información
    brindada.
  </p>
  <p>
    2.- Cumplir con las leyes y regulaciones aplicables a nivel nacional e
    internacional sobre la transmisión de datos técnicos a través del servicio.
  </p>
  <p>3.- No usar el servicio para propósitos ilegales.</p>
  <p>4.- No interferir o destruir las redes conectadas a este servicio.</p>
  <p>
    5.- Cumplir con todas las regulaciones, políticas y procedimientos de redes
    conectadas a este Servicio.
  </p>

  <h3>V.- MARCO LEGAL APLICABLE</h3>
  <p>
    1.- Ley de Procedimiento Administrativo General N°27444 (aplicacion
    supletoria).
  </p>
  <p>
    2.- D.S. N° 018-2001-PCM: Garantiza a los ciudadanos el acceso a la
    información que poseen las entidades de la administración publica.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center" class="d-flex flex-column">
  <button
    mat-flat-button
    class="mt-2"
    color="primary"
    type="submit"
    mat-dialog-close="1"
  >
    ACEPTO LOS TÉRMINOS
  </button>
  <button class="link primary d-block m-3" mat-dialog-close="0">Declinar</button>
</mat-dialog-actions>
