@import 'variables';

.header {
  margin: 1em 0;
  img {
    margin: 0 .5em;
  }
}

table {
  @extend %tablaModal;
}

table td {
  @extend %tdModal;
}

table th {
  @extend %thModal;
}

table tbody {
  @extend %tbodyModal;
}

table thead th {
  vertical-align: top;
}
a {
  text-decoration: none;
}
.receipt-menu {
  margin-left: 10px;
  color: #009ff6;
}
.table-head {
  display: block;
  width: 100%;
  padding-right: 50px;
}
.table-body {
  display: block;
  width: 100%;
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: scroll;
}
tbody::-webkit-scrollbar {
  width: 9px;
}
tbody::-webkit-scrollbar-track {
  border-radius: 4.5px;
  background-color: #dbdbdb;
}

tbody::-webkit-scrollbar-thumb {
  background-color: #727272;
  outline: 1px solid #dbdbdb;
  border-radius: 4.5px;
}
tbody::-webkit-scrollbar-corner {
  border-radius: 4.5px;
}
.mat-menu-item-highlighted:not([disabled]), .mat-menu-item.cdk-keyboard-focused:not([disabled]), .mat-menu-item.cdk-program-focused:not([disabled]), .mat-menu-item:hover:not([disabled]) {
  background-color: #e2f0ff;
}
tr:hover td{
  background-color: #e2f0ff;
}
