<div class="footer">
  <label>
    <span style="vertical-align: middle">Síguenos en: </span>
    <a href="https://www.facebook.com/pg/SedapalOficial/" target="_blank">
      <img src="assets/img/icon-facebook.svg" class="icon-social" matTooltip="Facebook">
    </a>
    <a href="https://twitter.com/SedapalOficial" target="_blank">
      <img src="assets/img/icon-twitter.svg" class="icon-social" matTooltip="Twitter">
    </a>
    <a href="https://www.instagram.com/sedapal.oficial/" target="_blank">
      <img src="assets/img/icon-instagram.svg" class="icon-social" matTooltip="Instagram">
    </a>
    <a href="https://www.youtube.com/channel/UCeoOIz1cd5bWp5oTDanvBaw?view_as=subscriber" target="_blank">
      <img src="assets/img/icon-youtube.svg" class="icon-social" matTooltip="YouTube">
    </a>
    <a href="http://200.60.97.122:3011/" target="_blank">
      <img src="assets/img/icon-chat-sedapal.svg" class="icon-social" matTooltip="Chat Sedapal">
    </a>
  </label>
</div>
